body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:750px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u11345 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:750px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u11346 {
  position:absolute;
  left:15px;
  top:15px;
  width:1150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:635px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u11347 {
  position:absolute;
  left:250px;
  top:115px;
  width:930px;
  height:635px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u11348 {
  position:absolute;
  left:15px;
  top:15px;
  width:900px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:80px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u11349 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u11350 {
  position:absolute;
  left:15px;
  top:15px;
  width:1150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11351 {
  position:absolute;
  left:20px;
  top:20px;
  width:40px;
  height:40px;
  opacity:0.5;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11352 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u11353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u11353 {
  position:absolute;
  left:70px;
  top:20px;
  width:145px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u11354 {
  position:absolute;
  left:0px;
  top:9px;
  width:145px;
  white-space:nowrap;
}
#u11355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u11355 {
  position:absolute;
  left:0px;
  top:80px;
  width:250px;
  height:670px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u11356 {
  position:absolute;
  left:15px;
  top:15px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u11358 {
  position:absolute;
  left:0px;
  top:80px;
  width:250px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u11358_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u11358.mouseOver {
}
#u11358_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u11358.selected {
}
#u11359 {
  position:absolute;
  left:48px;
  top:12px;
  width:202px;
  word-wrap:break-word;
}
#u11360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u11360 {
  position:absolute;
  left:221px;
  top:99px;
  width:8px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11361 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u11362 {
  position:absolute;
  left:25px;
  top:95px;
  width:12px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11362_img.mouseOver {
}
#u11362.mouseOver {
}
#u11362_img.selected {
}
#u11362.selected {
}
#u11363 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  text-align:left;
}
#u11364 {
  position:absolute;
  left:0px;
  top:122px;
  width:250px;
  height:42px;
  color:#333333;
  text-align:left;
}
#u11364_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  text-align:left;
}
#u11364.mouseOver {
}
#u11364_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  text-align:left;
}
#u11364.selected {
}
#u11365 {
  position:absolute;
  left:48px;
  top:12px;
  width:202px;
  word-wrap:break-word;
}
#u11366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u11366 {
  position:absolute;
  left:1091px;
  top:27px;
  width:69px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.6);
  text-align:center;
  line-height:20px;
}
#u11366_img.mouseOver {
}
#u11366.mouseOver {
}
#u11366_img.disabled {
}
#u11366.disabled {
}
#u11367 {
  position:absolute;
  left:10px;
  top:3px;
  width:49px;
  white-space:nowrap;
}
#u11368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u11368 {
  position:absolute;
  left:1023px;
  top:27px;
  width:66px;
  height:30px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u11369 {
  position:absolute;
  left:0px;
  top:5px;
  width:66px;
  white-space:nowrap;
}
#u11370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u11370 {
  position:absolute;
  left:969px;
  top:25px;
  width:50px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u11371 {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  white-space:nowrap;
}
#u11372 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u11374 {
  position:absolute;
  left:255px;
  top:90px;
  width:14px;
  height:11px;
  color:#145CC7;
}
#u11375 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#145CCD;
}
#u11376 {
  position:absolute;
  left:274px;
  top:86px;
  width:53px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#145CCD;
}
#u11376_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#145CCD;
}
#u11376.mouseOver {
}
#u11377 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#808080;
}
#u11378 {
  position:absolute;
  left:333px;
  top:87px;
  width:6px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#808080;
}
#u11379 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u11380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#145CCD;
}
#u11380 {
  position:absolute;
  left:345px;
  top:86px;
  width:53px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#145CCD;
}
#u11380_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#145CCD;
}
#u11380.mouseOver {
}
#u11381 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(4, 98, 247, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u11382 {
  position:absolute;
  left:645px;
  top:631px;
  width:51px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u11382_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(10, 103, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(4, 98, 247, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 6px rgba(10, 103, 251, 0.298039215686275);
  -webkit-box-shadow:0px 3px 6px rgba(10, 103, 251, 0.298039215686275);
  box-shadow:0px 3px 6px rgba(10, 103, 251, 0.298039215686275);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u11382.mouseOver {
}
#u11382_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(4, 98, 247, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u11382.disabled {
}
#u11383 {
  position:absolute;
  left:12px;
  top:5px;
  width:27px;
  white-space:nowrap;
}
#u11384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(4, 98, 247, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u11384 {
  position:absolute;
  left:734px;
  top:631px;
  width:51px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u11384_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(10, 103, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(4, 98, 247, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 6px rgba(10, 103, 251, 0.298039215686275);
  -webkit-box-shadow:0px 3px 6px rgba(10, 103, 251, 0.298039215686275);
  box-shadow:0px 3px 6px rgba(10, 103, 251, 0.298039215686275);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u11384.mouseOver {
}
#u11384_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(4, 98, 247, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u11384.disabled {
}
#u11385 {
  position:absolute;
  left:12px;
  top:5px;
  width:27px;
  white-space:nowrap;
}
#u11386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11386 {
  position:absolute;
  left:292px;
  top:208px;
  width:199px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11387 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u11388 {
  position:absolute;
  left:506px;
  top:211px;
  width:151px;
  height:16px;
}
#u11389 {
  position:absolute;
  left:16px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u11388_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11390 {
  position:absolute;
  left:688px;
  top:211px;
  width:151px;
  height:16px;
}
#u11391 {
  position:absolute;
  left:16px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u11390_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
