body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1576px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 214, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13762 {
  position:absolute;
  left:51px;
  top:57px;
  width:377px;
  height:669px;
}
#u13763 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(61, 66, 80, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13764 {
  position:absolute;
  left:52px;
  top:57px;
  width:375px;
  height:27px;
}
#u13765 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u13766 {
  position:absolute;
  left:59px;
  top:65px;
  width:360px;
  height:11px;
}
#u13767 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13768 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13769 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13770 {
  position:absolute;
  left:53px;
  top:676px;
  width:373px;
  height:49px;
}
#u13771 {
  position:absolute;
  left:2px;
  top:16px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u13773 {
  position:absolute;
  left:72px;
  top:682px;
  width:27px;
  height:21px;
}
#u13774 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13775 {
  position:absolute;
  left:71px;
  top:703px;
  width:29px;
  height:16px;
}
#u13776 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u13778 {
  position:absolute;
  left:223px;
  top:682px;
  width:27px;
  height:21px;
}
#u13779 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13780 {
  position:absolute;
  left:222px;
  top:703px;
  width:29px;
  height:16px;
}
#u13781 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u13783 {
  position:absolute;
  left:374px;
  top:682px;
  width:27px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13784 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13785 {
  position:absolute;
  left:373px;
  top:703px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13786 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13787 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13788 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u13789 {
  position:absolute;
  left:52px;
  top:84px;
  width:375px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u13790 {
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  word-wrap:break-word;
}
#u13791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u13791 {
  position:absolute;
  left:70px;
  top:96px;
  width:10px;
  height:18px;
}
#u13792 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u13793 {
  position:absolute;
  left:85px;
  top:97px;
  width:29px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u13794 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13795 {
  position:absolute;
  left:52px;
  top:129px;
  width:375px;
  height:110px;
}
#u13796 {
  position:absolute;
  left:2px;
  top:47px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13797 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 170, 238, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13798 {
  position:absolute;
  left:70px;
  top:154px;
  width:60px;
  height:60px;
}
#u13799 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u13800 {
  position:absolute;
  left:78px;
  top:162px;
  width:45px;
  height:45px;
}
#u13801 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13802 {
  position:absolute;
  left:133px;
  top:164px;
  width:80px;
  height:16px;
}
#u13803 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u13804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13804 {
  position:absolute;
  left:135px;
  top:190px;
  width:66px;
  height:16px;
}
#u13805 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u13806 {
  position:absolute;
  left:612px;
  top:141px;
  width:50px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u13807 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u13808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u13808 {
  position:absolute;
  left:612px;
  top:188px;
  width:177px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u13809 {
  position:absolute;
  left:8px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u13810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13810 {
  position:absolute;
  left:140px;
  top:150px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u13811 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u13812 {
  position:absolute;
  left:160px;
  top:150px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u13812_seg0 {
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u13812_seg1 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:13px;
}
#u13812_seg2 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:480px;
  height:8px;
}
#u13812_seg3 {
  position:absolute;
  left:468px;
  top:-14px;
  width:8px;
  height:16px;
}
#u13812_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u13813 {
  position:absolute;
  left:187px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13814 {
  position:absolute;
  left:52px;
  top:239px;
  width:375px;
  height:29px;
}
#u13815 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13816 {
  position:absolute;
  left:70px;
  top:246px;
  width:69px;
  height:16px;
}
#u13817 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u13818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u13819 {
  position:absolute;
  left:385px;
  top:243px;
  width:28px;
  height:21px;
  font-size:9px;
}
#u13820 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#BCBCBC;
}
#u13821 {
  position:absolute;
  left:387px;
  top:246px;
  width:24px;
  height:15px;
  font-size:9px;
  color:#BCBCBC;
}
#u13822 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u13823 {
  position:absolute;
  left:52px;
  top:268px;
  width:375px;
  height:23px;
  text-align:left;
}
#u13824 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  word-wrap:break-word;
}
#u13825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13826 {
  position:absolute;
  left:52px;
  top:365px;
  width:375px;
  height:1px;
}
#u13827 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u13828 {
  position:absolute;
  left:60px;
  top:301px;
  width:52px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13829 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u13830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13830 {
  position:absolute;
  left:122px;
  top:308px;
  width:163px;
  height:16px;
}
#u13831 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u13832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13832 {
  position:absolute;
  left:122px;
  top:334px;
  width:107px;
  height:16px;
  color:#999999;
}
#u13833 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u13834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13834 {
  position:absolute;
  left:345px;
  top:318px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u13835 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u13836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13836 {
  position:absolute;
  left:52px;
  top:290px;
  width:375px;
  height:1px;
}
#u13837 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13839 {
  position:absolute;
  left:52px;
  top:440px;
  width:375px;
  height:1px;
}
#u13840 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u13841 {
  position:absolute;
  left:60px;
  top:376px;
  width:52px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13842 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u13843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13843 {
  position:absolute;
  left:122px;
  top:383px;
  width:163px;
  height:16px;
}
#u13844 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u13845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13845 {
  position:absolute;
  left:122px;
  top:409px;
  width:107px;
  height:16px;
  color:#999999;
}
#u13846 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u13847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13847 {
  position:absolute;
  left:345px;
  top:393px;
  width:55px;
  height:19px;
  font-size:16px;
}
#u13848 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u13849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13850 {
  position:absolute;
  left:52px;
  top:515px;
  width:375px;
  height:1px;
}
#u13851 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u13852 {
  position:absolute;
  left:60px;
  top:451px;
  width:52px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13853 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u13854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13854 {
  position:absolute;
  left:122px;
  top:458px;
  width:163px;
  height:16px;
}
#u13855 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u13856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13856 {
  position:absolute;
  left:122px;
  top:484px;
  width:107px;
  height:16px;
  color:#999999;
}
#u13857 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u13858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13858 {
  position:absolute;
  left:345px;
  top:468px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u13859 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u13860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13860 {
  position:absolute;
  left:52px;
  top:516px;
  width:375px;
  height:29px;
}
#u13861 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13862 {
  position:absolute;
  left:70px;
  top:523px;
  width:69px;
  height:16px;
}
#u13863 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u13864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u13864 {
  position:absolute;
  left:52px;
  top:545px;
  width:375px;
  height:23px;
  text-align:left;
}
#u13865 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  word-wrap:break-word;
}
#u13866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13867 {
  position:absolute;
  left:52px;
  top:639px;
  width:375px;
  height:1px;
}
#u13868 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u13869 {
  position:absolute;
  left:60px;
  top:575px;
  width:52px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13870 {
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u13871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13871 {
  position:absolute;
  left:122px;
  top:582px;
  width:163px;
  height:16px;
}
#u13872 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u13873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13873 {
  position:absolute;
  left:122px;
  top:608px;
  width:107px;
  height:16px;
  color:#999999;
}
#u13874 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u13875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13875 {
  position:absolute;
  left:345px;
  top:592px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u13876 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u13877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u13877 {
  position:absolute;
  left:1201px;
  top:164px;
  width:375px;
  height:596px;
}
#u13878 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:597px;
}
#u13879 {
  position:absolute;
  left:816px;
  top:188px;
  width:375px;
  height:597px;
}
#u13880 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13881 {
  position:absolute;
  left:411px;
  top:254px;
  width:0px;
  height:0px;
}
#u13881_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:405px;
  height:8px;
}
#u13881_seg1 {
  position:absolute;
  left:387px;
  top:-10px;
  width:21px;
  height:20px;
}
#u13882 {
  position:absolute;
  left:150px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u13883 {
  position:absolute;
  left:548px;
  top:402px;
  width:41px;
  height:24px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u13884 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u13885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u13885 {
  position:absolute;
  left:548px;
  top:436px;
  width:178px;
  height:44px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u13886 {
  position:absolute;
  left:8px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u13887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13887 {
  position:absolute;
  left:222px;
  top:393px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u13888 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u13889 {
  position:absolute;
  left:242px;
  top:393px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u13889_seg0 {
  position:absolute;
  left:-4px;
  top:-47px;
  width:8px;
  height:47px;
}
#u13889_seg1 {
  position:absolute;
  left:-4px;
  top:-47px;
  width:335px;
  height:8px;
}
#u13889_seg2 {
  position:absolute;
  left:323px;
  top:-47px;
  width:8px;
  height:56px;
}
#u13889_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u13890 {
  position:absolute;
  left:118px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u13891 {
  position:absolute;
  left:369px;
  top:172px;
  width:44px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u13891_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u13891.mouseDown {
}
#u13892 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u13893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:9px;
}
#u13893 {
  position:absolute;
  left:386px;
  top:103px;
  width:30px;
  height:9px;
}
#u13894 {
  position:absolute;
  left:2px;
  top:-4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u13895 {
  position:absolute;
  left:265px;
  top:172px;
  width:70px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u13895_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u13895.mouseDown {
}
#u13896 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
