@model DorllyService.Domain.ServiceSupplier
@{
    Layout = null;
    ViewBag.Title = "修改服务商信息";
}

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <form role="form" method="post" asp-area="Admin" asp-controller="ServiceProvider" asp-action="Edit" id="editform">
            <input type="hidden" asp-for="Id" />
            <div class="form-title">
                基本信息
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="Code"></label>
                    <input type="text" class="form-control" asp-for="Code" placeholder="代码">
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="Avatar"></label>
                    <input type="file" class="form-control" asp-for="Avatar">
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="BelongGardenId"></label>
                    <select asp-for="BelongGardenId" class="form-control" asp-items="ViewBag.Gardens">
                        <option value="">-- 选择所属园区 --</option>
                    </select>
                    <span asp-validation-for="BelongGardenId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="ChargePerson"></label>
                    <input type="text" class="form-control" asp-for="ChargePerson">
                    <span asp-validation-for="ChargePerson" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="FullName"></label>
                    <input type="text" class="form-control" asp-for="FullName" placeholder="全称">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="Abbreviation"></label>
                    <input type="text" class="form-control" asp-for="Abbreviation" placeholder="简称">
                    <span asp-validation-for="Abbreviation" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="ServiceScope"></label>
                    <input type="text" class="form-control" asp-for="ServiceScope">
                    <span asp-validation-for="ServiceScope" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="ContactPhone"></label>
                    <input type="text" class="form-control" asp-for="ContactPhone">
                    <span asp-validation-for="ContactPhone" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="Email"></label>
                    <input type="email" class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="WorkTel"></label>
                    <input type="text" class="form-control" asp-for="WorkTel">
                    <span asp-validation-for="WorkTel" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="SupplierFrom"></label>
                    <input type="text" class="form-control" asp-for="SupplierFrom">
                    <span asp-validation-for="SupplierFrom" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>
