body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:809px;
}
#u14408 {
  position:absolute;
  left:38px;
  top:78px;
  width:455px;
  height:809px;
}
#u14409 {
  position:absolute;
  left:2px;
  top:396px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:809px;
}
#u14410 {
  position:absolute;
  left:580px;
  top:78px;
  width:455px;
  height:809px;
}
#u14411 {
  position:absolute;
  left:2px;
  top:396px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u14412 {
  position:absolute;
  left:1111px;
  top:740px;
  width:51px;
  height:48px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u14413 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u14414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u14414 {
  position:absolute;
  left:1113px;
  top:784px;
  width:163px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u14415 {
  position:absolute;
  left:8px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u14416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14416 {
  position:absolute;
  left:937px;
  top:771px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u14417 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u14418 {
  position:absolute;
  left:957px;
  top:771px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u14418_seg0 {
  position:absolute;
  left:-4px;
  top:-45px;
  width:8px;
  height:45px;
}
#u14418_seg1 {
  position:absolute;
  left:-4px;
  top:-45px;
  width:188px;
  height:8px;
}
#u14418_seg2 {
  position:absolute;
  left:176px;
  top:-45px;
  width:8px;
  height:14px;
}
#u14418_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u14419 {
  position:absolute;
  left:24px;
  top:-49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
