body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:799px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:799px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u5054 {
  position:absolute;
  left:15px;
  top:15px;
  width:1150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u5055 {
  position:absolute;
  left:260px;
  top:115px;
  width:910px;
  height:673px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u5056 {
  position:absolute;
  left:15px;
  top:15px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:80px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u5057 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u5058 {
  position:absolute;
  left:15px;
  top:15px;
  width:1150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5059 {
  position:absolute;
  left:20px;
  top:20px;
  width:40px;
  height:40px;
  opacity:0.5;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5060 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5061 {
  position:absolute;
  left:70px;
  top:20px;
  width:99px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5062 {
  position:absolute;
  left:0px;
  top:12px;
  width:99px;
  white-space:nowrap;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u5063 {
  position:absolute;
  left:0px;
  top:80px;
  width:250px;
  height:708px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u5064 {
  position:absolute;
  left:15px;
  top:15px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u5065 {
  position:absolute;
  left:260px;
  top:94px;
  width:14px;
  height:11px;
  color:#353535;
}
#u5066 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#353535;
}
#u5067 {
  position:absolute;
  left:279px;
  top:90px;
  width:201px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#353535;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5069 {
  position:absolute;
  left:679px;
  top:129px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5070 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5071 {
  position:absolute;
  left:269px;
  top:164px;
  width:891px;
  height:78px;
}
#u5072 {
  position:absolute;
  left:2px;
  top:31px;
  width:887px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5073 {
  position:absolute;
  left:279px;
  top:176px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5074 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u5075 {
  position:absolute;
  left:407px;
  top:175px;
  width:1px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5076 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#199ED8;
}
#u5077 {
  position:absolute;
  left:392px;
  top:175px;
  width:56px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#199ED8;
}
#u5078 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5079 {
  position:absolute;
  left:279px;
  top:214px;
  width:127px;
  height:16px;
}
#u5080 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:518px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5081 {
  position:absolute;
  left:270px;
  top:257px;
  width:891px;
  height:518px;
}
#u5082 {
  position:absolute;
  left:2px;
  top:251px;
  width:887px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:2px;
}
#u5083 {
  position:absolute;
  left:280px;
  top:340px;
  width:865px;
  height:1px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:-8px;
  width:861px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5085 {
  position:absolute;
  left:280px;
  top:287px;
  width:71px;
  height:16px;
  color:#999999;
}
#u5086 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5087 {
  position:absolute;
  left:350px;
  top:286px;
  width:55px;
  height:16px;
  color:#999999;
}
#u5088 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5089 {
  position:absolute;
  left:465px;
  top:287px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5090 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5091 {
  position:absolute;
  left:519px;
  top:287px;
  width:29px;
  height:16px;
  color:#999999;
}
#u5092 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5093 {
  position:absolute;
  left:465px;
  top:314px;
  width:43px;
  height:16px;
  color:#999999;
}
#u5094 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5095 {
  position:absolute;
  left:519px;
  top:314px;
  width:89px;
  height:16px;
  color:#999999;
}
#u5096 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5097 {
  position:absolute;
  left:642px;
  top:287px;
  width:43px;
  height:16px;
  color:#999999;
}
#u5098 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5099 {
  position:absolute;
  left:689px;
  top:287px;
  width:141px;
  height:16px;
  color:#999999;
}
#u5100 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5101 {
  position:absolute;
  left:280px;
  top:315px;
  width:71px;
  height:16px;
  color:#999999;
}
#u5102 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5103 {
  position:absolute;
  left:347px;
  top:314px;
  width:57px;
  height:16px;
  color:#999999;
}
#u5104 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5105 {
  position:absolute;
  left:677px;
  top:260px;
  width:72px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5106 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5107 {
  position:absolute;
  left:642px;
  top:313px;
  width:71px;
  height:16px;
  color:#999999;
}
#u5108 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5109 {
  position:absolute;
  left:713px;
  top:313px;
  width:211px;
  height:16px;
  color:#999999;
}
#u5110 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u5111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5111 {
  position:absolute;
  left:677px;
  top:349px;
  width:72px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5112 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u5113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5113 {
  position:absolute;
  left:465px;
  top:381px;
  width:193px;
  height:16px;
  color:#999999;
}
#u5114 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u5115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5115 {
  position:absolute;
  left:280px;
  top:381px;
  width:126px;
  height:16px;
  color:#999999;
}
#u5116 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u5117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5117 {
  position:absolute;
  left:282px;
  top:522px;
  width:864px;
  height:111px;
}
#u5118 {
  position:absolute;
  left:2px;
  top:48px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:19px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5119 {
  position:absolute;
  left:286px;
  top:526px;
  width:852px;
  height:19px;
}
#u5120 {
  position:absolute;
  left:2px;
  top:2px;
  width:848px;
  word-wrap:break-word;
}
#u5121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  position:absolute;
  left:282px;
  top:643px;
  width:864px;
  height:118px;
}
#u5122 {
  position:absolute;
  left:2px;
  top:51px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:19px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5123 {
  position:absolute;
  left:286px;
  top:647px;
  width:852px;
  height:19px;
}
#u5124 {
  position:absolute;
  left:2px;
  top:2px;
  width:848px;
  word-wrap:break-word;
}
#u5125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u5125 {
  position:absolute;
  left:1029px;
  top:27px;
  width:27px;
  height:30px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  line-height:20px;
}
#u5126 {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  white-space:nowrap;
}
#u5127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u5127 {
  position:absolute;
  left:969px;
  top:25px;
  width:50px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u5128 {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  white-space:nowrap;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u5129 {
  position:absolute;
  left:1091px;
  top:27px;
  width:69px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.6);
  text-align:center;
  line-height:20px;
}
#u5129_img.mouseOver {
}
#u5129.mouseOver {
}
#u5129_img.disabled {
}
#u5129.disabled {
}
#u5130 {
  position:absolute;
  left:10px;
  top:3px;
  width:49px;
  white-space:nowrap;
}
#u5131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5131 {
  position:absolute;
  left:286px;
  top:555px;
  width:193px;
  height:16px;
  color:#999999;
}
#u5132 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u5133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5133 {
  position:absolute;
  left:286px;
  top:666px;
  width:179px;
  height:16px;
  color:#999999;
}
#u5134 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u5135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5135 {
  position:absolute;
  left:286px;
  top:692px;
  width:207px;
  height:16px;
  color:#999999;
}
#u5136 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u5137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5137 {
  position:absolute;
  left:286px;
  top:718px;
  width:179px;
  height:16px;
  color:#999999;
}
#u5138 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u5139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5139 {
  position:absolute;
  left:519px;
  top:555px;
  width:241px;
  height:16px;
  color:#999999;
}
#u5140 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u5141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5141 {
  position:absolute;
  left:286px;
  top:581px;
  width:117px;
  height:16px;
  color:#999999;
}
#u5142 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u5143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5143 {
  position:absolute;
  left:519px;
  top:581px;
  width:243px;
  height:16px;
  color:#999999;
}
#u5144 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u5145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5146 {
  position:absolute;
  left:0px;
  top:80px;
  width:250px;
  height:42px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5146_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5146.mouseOver {
}
#u5146_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5146.selected {
}
#u5147 {
  position:absolute;
  left:48px;
  top:13px;
  width:202px;
  word-wrap:break-word;
}
#u5148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u5148 {
  position:absolute;
  left:221px;
  top:99px;
  width:8px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5149 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u5150 {
  position:absolute;
  left:25px;
  top:95px;
  width:12px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5150_img.mouseOver {
}
#u5150.mouseOver {
}
#u5150_img.selected {
}
#u5150.selected {
}
#u5151 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5153 {
  position:absolute;
  left:0px;
  top:122px;
  width:250px;
  height:42px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5153_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5153.mouseOver {
}
#u5153_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5153.selected {
}
#u5154 {
  position:absolute;
  left:48px;
  top:13px;
  width:202px;
  word-wrap:break-word;
}
#u5155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u5155 {
  position:absolute;
  left:221px;
  top:141px;
  width:8px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5156 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u5157 {
  position:absolute;
  left:25px;
  top:137px;
  width:12px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5157_img.mouseOver {
}
#u5157.mouseOver {
}
#u5157_img.selected {
}
#u5157.selected {
}
#u5158 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5160 {
  position:absolute;
  left:0px;
  top:164px;
  width:250px;
  height:42px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5160_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5160.mouseOver {
}
#u5160_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#353535;
  text-align:left;
}
#u5160.selected {
}
#u5161 {
  position:absolute;
  left:48px;
  top:13px;
  width:202px;
  word-wrap:break-word;
}
#u5162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u5162 {
  position:absolute;
  left:221px;
  top:183px;
  width:8px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5163 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u5164 {
  position:absolute;
  left:25px;
  top:179px;
  width:12px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5164_img.mouseOver {
}
#u5164.mouseOver {
}
#u5164_img.selected {
}
#u5164.selected {
}
#u5165 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  text-align:left;
}
#u5166 {
  position:absolute;
  left:0px;
  top:206px;
  width:250px;
  height:42px;
  color:#333333;
  text-align:left;
}
#u5166_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  text-align:left;
}
#u5166.mouseOver {
}
#u5166_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  text-align:left;
}
#u5166.selected {
}
#u5167 {
  position:absolute;
  left:48px;
  top:12px;
  width:202px;
  word-wrap:break-word;
}
#u5168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5169 {
  position:absolute;
  left:281px;
  top:401px;
  width:865px;
  height:111px;
}
#u5170 {
  position:absolute;
  left:2px;
  top:48px;
  width:861px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5171 {
  position:absolute;
  left:287px;
  top:406px;
  width:852px;
  height:30px;
}
#u5172 {
  position:absolute;
  left:2px;
  top:7px;
  width:848px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u5173 {
  position:absolute;
  left:287px;
  top:439px;
  width:95px;
  height:68px;
}
#u5174 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5175 {
  position:absolute;
  left:392px;
  top:461px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5176 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5177 {
  position:absolute;
  left:683px;
  top:413px;
  width:57px;
  height:16px;
}
#u5178 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5179 {
  position:absolute;
  left:683px;
  top:465px;
  width:57px;
  height:16px;
}
#u5180 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5181 {
  position:absolute;
  left:492px;
  top:413px;
  width:57px;
  height:16px;
}
#u5182 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5183 {
  position:absolute;
  left:492px;
  top:465px;
  width:57px;
  height:16px;
}
#u5184 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5185 {
  position:absolute;
  left:392px;
  top:413px;
  width:57px;
  height:16px;
}
#u5186 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5187 {
  position:absolute;
  left:788px;
  top:413px;
  width:71px;
  height:16px;
}
#u5188 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5189 {
  position:absolute;
  left:786px;
  top:465px;
  width:73px;
  height:16px;
  color:#FF0000;
}
#u5190 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5191 {
  position:absolute;
  left:890px;
  top:413px;
  width:29px;
  height:16px;
}
#u5192 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5193 {
  position:absolute;
  left:894px;
  top:465px;
  width:23px;
  height:16px;
  color:#FF0000;
}
#u5194 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5195 {
  position:absolute;
  left:987px;
  top:413px;
  width:57px;
  height:16px;
}
#u5196 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5197 {
  position:absolute;
  left:985px;
  top:465px;
  width:73px;
  height:16px;
  color:#FF0000;
}
#u5198 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5199 {
  position:absolute;
  left:309px;
  top:413px;
  width:57px;
  height:16px;
}
#u5200 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5201 {
  position:absolute;
  left:587px;
  top:413px;
  width:57px;
  height:16px;
}
#u5202 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5203 {
  position:absolute;
  left:594px;
  top:446px;
  width:43px;
  height:16px;
}
#u5204 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5205 {
  position:absolute;
  left:583px;
  top:472px;
  width:65px;
  height:16px;
}
#u5206 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
