@model DorllyService.Domain.Contract
@{
    Layout = null;
    ViewBag.PageCode = "合同";
    ViewBag.Title = $"编辑{ViewBag.PageCode}";
}

<div class="row">
    <div class="col-md-12">
        <form role="form" method="post" asp-area="Admin" asp-controller="Contract" asp-action="Edit" id="editform">
            <input asp-for="Id" type="hidden" />
            <div class="form-title">
                @(ViewBag.PageCode)基本信息
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="ContractNo"></label>
                    <input type="text" class="form-control" asp-for="ContractNo" placeholder="合同名">
                    <span asp-validation-for="ContractNo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="Name"></label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="FirstParty"></label>
                    <input type="text" class="form-control" asp-for="FirstParty">
                    <span asp-validation-for="FirstParty" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="SecondParty"></label>
                    <input type="text" class="form-control" asp-for="SecondParty">
                    <span asp-validation-for="SecondParty" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="BelongGardenId"></label>
                    <select asp-for="BelongGardenId" class="form-control" asp-items="ViewBag.Gardens">
                        <option value="">-- 选择所属园区 --</option>
                    </select>
                    <span asp-validation-for="BelongGardenId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="BelongGardenId"></label>
                    <select asp-for="BelongGardenId" class="form-control" asp-items="ViewBag.Gardens">
                        <option value="">-- 选择所属园区 --</option>
                    </select>
                    <span asp-validation-for="BelongGardenId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Content"></label>
                <span class="input-icon icon-right">
                    <textarea class="form-control" asp-for="Content" rows="10"></textarea>
                    <i class="glyphicon glyphicon-briefcase darkorange"></i>
                </span>
                <p class="help-block">合同内容</p>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="Enclosure"></label>
                    <input type="file" class="form-control" asp-for="Enclosure">
                    <span asp-validation-for="Enclosure" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="SignDate"></label>
                    <input type="file" class="form-control" asp-for="SignDate">
                    <span asp-validation-for="SignDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <label asp-for="State"></label>
                    <select asp-for="State" class="form-control">
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>
