<!DOCTYPE html>
<html lang="zh-cn">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/admin/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!--Extend styles-->
    <link href="~/admin/css/demo.min.css" rel="stylesheet" />
    <link href="~/admin/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    <link id="beyond-link" href="" rel="stylesheet" />
    @*<environment include="Development">
            <link id="beyond-link" href="~/admin/css/beyond.css" rel="stylesheet" />
        </environment>
        <environment exclude="Development">
            <link id="beyond-link" href="~/admin/css/beyond.css" rel="stylesheet" />
        </environment>*@
    @RenderSection("styles", required: false)
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <environment include="Development">
        <script src="~/admin/js/skins.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/admin/js/skins.min.js"></script>
    </environment>
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;url=ie.html" />
    <![endif]-->
</head>
<!--Head Ends-->
<!--Body-->
<body>
    @RenderBody()

    <!--Basic Scripts-->
    <script src="~/admin/js/jquery-2.0.3.min.js"></script>
    <script src="~/admin/js/bootstrap.min.js"></script>

    <!--Extend Scripts-->
    <environment include="Development">
        <script src="~/Admin/js/datatable/jquery.dataTables.min.js"></script>
        <script src="~/Admin/js/datatable/ZeroClipboard.js"></script>
        <script src="~/Admin/js/datatable/dataTables.tableTools.min.js"></script>
        <script src="~/Admin/js/datatable/dataTables.bootstrap.min.js"></script>
        <script src="~/Admin/js/datatable/datatables-init.js"></script>
        <script src="~/Admin/js/beyond.js"></script>
        <script src="~/Admin/js/bootbox/bootbox.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/Admin/js/datatable/jquery.dataTables.min.js"></script>
        <script src="~/Admin/js/datatable/ZeroClipboard.js"></script>
        <script src="~/Admin/js/datatable/dataTables.tableTools.min.js"></script>
        <script src="~/Admin/js/datatable/dataTables.bootstrap.min.js"></script>
        <script src="~/Admin/js/beyond.min.js"></script>
        <script src="~/Admin/js/bootbox/bootbox.js"></script>

    </environment>
    @RenderSection("Scripts", required: false)
</body>
<!--Body Ends-->
</html>